.orders-main-div{
    background-color: #edf1f4;
    height: 100vh;
    width: 100vw;
}

.order-main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.order-box{
height: 90vh;
width: 80vw;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 4px;
}


.order-header{
    height: 45px;
    width: 100%;
    background-color: #edf1f4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderId{
    margin-left: 0.5rem;
}

.orderAmount{
    margin-right: 0.5rem;
}

.orderId p, .orderStatus p, .orderQty p, .orderAmount p{
    font-size: 17px;
    font-weight: bold;
    font-family: "Poppins";   
}

.all-Order-Main{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
    background-color: #f4f7f9;
    padding: 0.6rem 0rem;
    cursor: pointer 
}

.all-orderId{
    margin-left: 0.5rem;
}

.all-orderAmount{
    margin-right: 0.5rem;
}

.allOrdersMain{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
    background-color: #f4f7f9;
    padding: 0.6rem 0rem;
    cursor: "pointer" 

}
.all-orders_btn{
    background-color: #18355e;
    padding: 0.5 0.25rem;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: "Poppins";
    margin-top: 1rem;
    cursor: pointer;
}