.place-order-main-container{
    display: flex;
    justify-content: center;

}

.place-order-details{
    width: 34%;
    padding: 2rem 1rem;
    margin-top: -2.5rem;
    background-color: "#edf1f4";
    box-shadow: "rgba(0, 0, 0, 0.24) 0px 3px 8px";
}

.place-order-details h3{
    font-family: "Poppins";
}

.backtoHome-btn-container{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

}

.back-to-home-btn{
    background-color: #18355e;
    padding: 0.5 14.25rem;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: "Poppins";
    cursor: pointer;
}