
.about-hero-txt h1{
    font-family: 'Poppins';
    color: #58575c;
}
.about-hero-sec-container{
    display: flex;
    justify-content: center;
    margin: 8rem 0rem 4rem 0rem;

}
.about-hero-sec{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-hero-txt {
    font-family: 'Poppins';
    width: 40%;
}

.about-hero-txt p {
    font-family: 'Poppins';
    font-size: 16px;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: rgb(39, 39, 39);
    margin-bottom: .5rem;

}

.about-hero-img img{
    height: 500px;
    width: 750px;
    border-radius: 6px;
    margin-right: 2rem; 
}

.about-hero-txt button{
    padding: .7rem 3rem;
    font-family: "Poppins";
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: .5rem;
}

/* Responsive About page */

@media screen and (max-width: 1265px){
    .about-hero-sec{
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width: 1144px){
    .about-hero-img img{
        height: 400px;
        width: 500px;
        border-radius: 6px;
        margin-right: 2rem; 
    }
}
@media screen and (max-width: 1042px){
    .about-hero-img img{
        height: 350px;
        width: 450px;
        border-radius: 6px;
        margin-right: 2rem; 
    }
}

@media screen and (max-width: 911px){
    .about-hero-sec{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .about-hero-img img{
        height: 350px;
        width: 100%;
        border-radius: 6px; 
        margin-top: -4rem;
    }
    .about-hero-txt {
        font-family: 'Poppins';
        width: 70%;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .about-hero-txt {
        font-family: 'Poppins';
        width: 85%;
        margin-top: 3rem;
    }
}
@media screen and (max-width: 495px) {
    .about-hero-txt {
        font-family: 'Poppins';
        width: 95%;
        margin-top: 3rem;
    }
}