.contact-header {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8ecef;
  color: #58575c;
}
.contact-header p {
  font-family: "Poppins";
  font-size: 50px;
}
