.shop-product-maincontainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.shop-container {
  height: 1000px;
  width: 90%;
  display: flex;
}
.shop-filter-container {
  height: 97%;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 1rem;
  border-radius: 8px;
 
}
.shop-filter-container h2 {
  font-family: "Poppins";
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.shop-product-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.shop-product-boxes {
  height: 300px;
  width: 340px;
  background-color: white;
  margin: 1rem 0rem 0rem 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.shop-product-boxes img {
  height: 170px;
}
.shop-product-boxes p {
  margin: 0.5rem 0rem 0.2rem 0rem;
}

.shop-p {
  width: 100%;
  margin-left: 5.2rem;
  margin-bottom: 0.5rem;
}
.shop-des {
  width: 75%;
}
.shop-title {
  width: 75%;
}

.search-filter-container {
  width: 80%;
}
#search {
  height: 28px;
  width: 100%;
  font-family: "Poppins";
  margin-top: 0.7rem;
  outline: none;
  border-radius: 4px;
  margin-left: 1.2rem;
}
#search::placeholder {
  padding-left: 0.5rem;
}

.mobile-tablet-search-box{
  display: flex;
  justify-content: center;
  margin: 3rem;
}
.search-box{
  height: 100px;
  width: 80%;
  margin-top: 3rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 12px;
  display: none;
}
.search-box{
  font-family: "Poppins";
  padding-left: 2rem;
}

@media screen and (max-width: 1335px){
 
  .search-box{
    height: 100px;
    width: 80%;
    margin-top: 3rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 12px;
    display: block;
  }
  .shop-filter-container {
    height: 97%;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 1rem;
    border-radius: 8px;
    display: none;
  }
  }