.footer-container{
    margin-top: 12rem;

}

.footer{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-info-div h1{
    font-family: "Poppins";
    color: #fff;
}
.text-info-div p{
    font-family: "Poppins";
    color: #fff;
    font-size: 14px;
    margin-top: .3rem;
}
.input-div{
    width: 680px;
    height: 40px;

}
.input-div input{
    height: 100%;
    border: none;
    outline: none;
    font-family: "Poppins";
    padding-left: 1rem;
    width: 70%;
    font-size: 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: .4rem;
}
.input-div button{
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
    margin-top: -1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    background-color: #ffa203;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width:1229px){

    .text-info-div h1{
        font-family: "Poppins";
        color: #fff;
        font-size: 20px;
        margin-left: 5rem;
    }
    .text-info-div p{
        font-family: "Poppins";
        color: #fff;
        font-size: 13px;
        margin-top: .3rem;
        margin-left: 5rem;
    }
    .input-div input{
        height: 100%;
        border: none;
        outline: none;
        font-family: "Poppins";
        padding-left: 1rem;
        width: 50%;
        font-size: 15px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-top: .4rem;
        margin-left: 5rem;
    }
}

@media screen and (max-width:819px) {
    .text-info-div h1{
        font-family: "Poppins";
        color: #fff;
        font-size: 20px;
        margin-left: 0rem;
    }
    .text-info-div p{
        font-family: "Poppins";
        color: #fff;
        font-size: 13px;
        margin-top: .3rem;
        margin-left: 0rem;
    }
    .footer{
        height: 125px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-div{
        width: 600px;
        height: 40px;
        margin-bottom: 1rem;
    } 
}

@media screen and (max-width:557px) {
    .text-info-div h1{
        font-family: "Poppins";
        color: #fff;
        font-size: 18px;
        margin-left: 0rem;
    }
    .text-info-div p{
        font-family: "Poppins";
        color: #fff;
        font-size: 12px;
        margin-top: .3rem;
        margin-left: 0rem;
    }
    .footer{
        height: 125px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-div{
        width: 100%;
        height: 40px;
    }
    .input-div input{
        height: 100%;
        border: none;
        outline: none;
        font-family: "Poppins";
        padding-left: 1rem;
        width: 30%;
        font-size: 15px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-top: .4rem;
        margin-left: 5rem;
    }
}
@media screen and (max-width:445px) {
    .text-info-div h1{
        font-family: "Poppins";
        color: #fff;
        font-size: 15px;
        margin-left: 0rem;
    }
    .text-info-div p{
        font-family: "Poppins";
        color: #fff;
        font-size: 10px;
        margin-top: .3rem;
        margin-left: 0rem;
    }
    .footer{
        height: 125px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-div{
        width: 100%;
        height: 40px;
    }
    .input-div input{
        height: 100%;
        border: none;
        outline: none;
        font-family: "Poppins";
        padding-left: 1rem;
        width: 20%;
        font-size: 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-top: .4rem;
        margin-left: 5rem;
    }

}