.main-cart-section-container{
    font-family: "Poppins";
}

.cart-section{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;

}

.cart-data-details-con{
    display: flex;
    justify-content: center;
}

.cart-data-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8rem;
    cursor: pointer;
    width: 76%;
    background-color: #edf1f4;
    padding: 0px 15px;
    border-radius: 4px;
 }

.cartHeader{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.cartHeader p{
    font-weight: bold;
    margin-left: 2rem;
}

.cart-data-first-div{
    display: flex;
    align-items: center;
}

.cart-data-first-div img{
    height: 100px;
}
.cart-data-first-div p{
    padding-left: 1rem;
}

.cart-data-second-div p{
color: #2596be;
font-size: 16px;
font-weight: bold;
}


.cart-data-fourth-div{
    margin-right: .5rem;
}

#cart-minus_btn{
    margin-left: 1rem;
    padding: .3rem 1rem;
    background: none;
    outline: none;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #cart-count_btn{
    padding: .3rem 1rem;
    background: none;
    outline: none;
    border-right: none;
    border-left: none;
    background-color: rgb(209, 214, 216);
    font-size: 18px;
    cursor: pointer;
  }
  
  #cart-plus_btn{
    padding: .3rem 1rem;
    background: none;
    outline: none;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }

  .empty-cart h1{
    text-align: center;
    font-family: "Poppins";
    color: black;
    margin-top: 2.2rem;
  }

  .continue-shoping{
    display: flex;
    justify-content: center;
  }

  .continue-shoping button{
    font-family: "Poppins";
    color: white;
    background-color: #18335e;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: .6rem 1.2rem;
    margin-top: 2rem;
    cursor: pointer;
  }

  .image-inside-title{
    margin-left: 1rem;
  }


  .cart-price-container{
    display: flex;
    justify-content: center;
  }

  .cartPrice{
    width: 78%;
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
    justify-content: space-between;
  }

  .cart-price-total{
    color: #2596be;
  }

  .cartPrice p{
    font-size: 16px;
    font-weight: bold;
  }

  .cartPrice button{
    padding: 0.4rem 1rem;
    border: none;
    outline: none;
    background-color: #2596be;
    color: black;
    font-weight: bold;
    font-family: "Poppins";
    border-radius: 3px;
    cursor: pointer;
  }